# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode

# Directories
models/
results/
mlruns/
data_process/

# File Extensions
*.pickle
*.pyc

# Environment Variables
.env

# Installer logs
pip-log.txt